<table class="table">
  <tr>
    <th>Client ID</th>
    <th *ngFor="let attribute of mainAttributes">{{ attribute.name }}</th>
    <th>Extra</th>
  </tr>
  <tr *ngFor="let client of clients">
    <td>{{ client.id }}</td>
    <td *ngFor="let attribute of mainAttributes">
      {{ client.mainAttributes.get(attribute.name) }}
    </td>
    <td>
      <div>
        <table class="table">
          <tr>
            <th *ngFor="let attribute of extraAttributes">{{ attribute.name }}</th>
          </tr>
          <tr>
            <td *ngFor="let attribute of extraAttributes">
              {{ client.extraAttributes.get(attribute.name) }}
            </td>
          </tr> 
        </table>
      </div>
    </td>
  </tr>
</table>