<a routerLink="/clients"><button class="btn btn-primary float-right">Client List</button></a>
<h2>Create Client</h2>

<div class="form-group">
  <form [formGroup]="clientForm" (ngSubmit)="submitClient(clientForm.value)">
    <div class="form-group row" *ngFor="let attribute of requiredAttributes">
      <label [for]="attribute.id" class="col-sm-2 col-form-label">{{attribute.name}}</label>
      <div class="col-sm-10">
        <input type="text"
              class="form-control"
              [class.is-invalid]="clientForm.controls[attribute.id].touched && !clientForm.controls[attribute.id].valid"
              [formControlName]="attribute.id"
              [id]="attribute.id"
              placeholder="{{attribute.name}}">
      </div>
      <div class="invalid-feedback d-block row" *ngIf="clientForm.controls[attribute.id].touched && !clientForm.controls[attribute.id].valid">
        <span class="col-sm-5"></span>
        <span class="col-sm-7">
        {{attribute.name}} is a required field.
        </span>
      </div>
    </div>


    <hr><h5>Optional Fields</h5>

    <div class="form-group row" *ngFor="let attribute of notRequiredAttributes">
      <label [for]="attribute.id" class="col-sm-2 col-form-label">{{attribute.name}}</label>
      <div class="col-sm-10">
        <input type="text"
              class="form-control"
              [formControlName]="attribute.id"
              [id]="attribute.id"
              placeholder="{{attribute.name}}">
      </div>
    </div>

    <button type="submit"
            class="btn btn-secondary float-right"
            [disabled]="!clientForm.valid">Submit</button>
  </form>
</div>
